@page
@model MaerskLineCMS.Pages.Vessel.CreateModel

@{
    ViewData["Title"] = "Create Vessel";
    Layout = "~/Pages/Shared/_Layout_Admin.cshtml";
}

<h1>Create</h1>

<h4>VESSEL</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VESSEL.Vessel_Name" class="control-label">Vessel Name</label>
                <input asp-for="VESSEL.Vessel_Name" class="form-control" />
                <span asp-validation-for="VESSEL.Vessel_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VESSEL.Capacity_TEU" class="control-label">Capacity TEU</label>
                <input type="number" asp-for="VESSEL.Capacity_TEU" class="form-control" />
                <span asp-validation-for="VESSEL.Capacity_TEU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VESSEL.Available_TEU" class="control-label">Available TEU</label>
                <input type="number" asp-for="VESSEL.Available_TEU" class="form-control" />
                <span asp-validation-for="VESSEL.Available_TEU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VESSEL.Status" class="control-label"></label>
                <input asp-for="VESSEL.Status" class="form-control" />
                <span asp-validation-for="VESSEL.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
