@page
@model MaerskLineCMS.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"] - A.P. Moller - Maersk</h1>
<p>A.P. Moller - Maersk is an integrated container logistics company. Connecting and simplifying trade to help our customers grow and thrive. With a dedicated team of over 76,000, operating in 130 countries; we go all the way to enable global trade for a growing world.</p>


<h2>Our story - ALL THE WAY</h2>
<p>
    For over 100 years, our customers have been changing and improving the world through trade. It has always been our passion and privilege to be their trusted, open and brave partner. Making trade more effective and our customers more successful.

    To connect and simplify trade, Maersk goes all the way.

    Because we know, that going halfway, won’t get us there.
</p>


<h2>The Maersk core values</h2>
<p>
    Our company builds on an impressive heritage of pioneering success and growth. Our long legacy and our Values guide our business every day and also ensure that we can do business tomorrow.
</p>


<h2>Our Leadership</h2>
<p>
    Meet the members of A.P. Moller - Maersk’s Executive Leadership team and our Board of Directors.
</p>


<h2>Sustainability</h2>
<p>
    A.P. Moller - Maersk is committed to ensuring that our business practices are safe, responsible and transparent, accordance with our Core Values and the principles of the UN Global Compact on human rights, labour rights, environment and anti-corruption, and contributing to the UN Sustainable Development Goals.
</p>


<h2>Our history</h2>
<p>
    A.P. Moller - Maersk has a storied past, and we are proud of our long history. Our history is part of our platform for future success and thus intimately linked to our present activities and future goals.
</p>
