@page
@model MaerskLineCMS.Pages.AdminHomeModel
@{
    ViewData["Title"] = "Admin Home";
    Layout = "~/Pages/Shared/_Layout_Admin.cshtml";
}

    
    <div class="text-center">
        <img src="~/images/MAERSK_Background.jpg" alt="MAERSK Vessel" />
        <h1 class="display-4">Welcome Admin</h1>
    </div>

