@page
@model MaerskLineCMS.Pages.AgentHomeModel
@{
    ViewData["Title"] = "Agent Home";
    Layout = "~/Pages/Shared/_Layout_Agent.cshtml";
}


    <div class="text-center">
        <img src="~/images/MAERSK_Background.jpg" alt="MAERSK Vessel" />
        <h1 class="display-4">Welcome Agent</h1>
    </div>

