@page
@model MaerskLineCMS.Pages.ContactUsModel
@{
    ViewData["Title"] = "Contact Us";
}

<style>
    table, th, td {
        border: 2px solid black;
    }

    th, td {
        text-align: center;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Maersk has been connecting Malaysian businesses to the world since 1974.</p>

<div>
    <p>Local Infomation : </p>
    <table style="width:auto;">
        <tr>
            <th>Office</th>
            <th>Address</th>
            <th>Telephone</th>
            <th>Opening Hours</th>
        </tr>
        <tr>
            <td>Port Klang</td>
            <td>Mail Bag Service 202, Jalan Port Klang, Pelabuhan 42005 Malaysia</td>
            <td>+603 3168 8211</td>
            <td>Mon-Sun 12.00am-11.59pm,</td>
        </tr>
        <tr>
            <td>Subang Jaya, Selangor</td>
            <td>Suites C-5-6-7-8 &, D-5-6-7-8, Level 6, Sky Park One City, Jalan USJ 25/1, 47650 Subang Jaya, Selangor, Malaysia</td>
            <td>+603 8026 6688</td>
            <td>Mon-Thu 9.00am-17.15pm, Fri 9.00-17.00 Closed 12:30-13:30</td>
        </tr>
        <tr>
            <td>Penang</td>
            <td>Lot 11.01, Level 11 Menara KWSP, Premises No. 38 Jalan Sultan Ahmad Shah, 10050 Penang, Malaysia</td>
            <td>+604 8026 6688</td>
            <td>Mon-Thu 9am-5.15pm, Fri 9am-5.00pm Closed 1.00pm - 2.00pm</td>
        </tr>
        <tr>
            <td>Kuantan</td>
            <td>Gateway Shipping Sdn Bhd, No. B2, Jalan Gebeng 2/6 , Gebeng Industrial Estate, Pahang 6080, Kuantan, Malaysia</td>
            <td>+609 5839 000</td>
            <td>Mon-Fri 08:30-17:30</td>
        </tr>
    </table>
</div>


