@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <img src="~/images/MAERSK_Background.jpg" alt="MAERSK Vessel" />
        <h1 class="display-4">Welcome to MAERSK LINE</h1>
        <h1 class="display-3">Container Management System</h1>
    </div>
