@page
@model MaerskLineCMS.Pages.SolutionsModel
@{
    ViewData["Title"] = "Solutions";
}

<style>
    table, th, td {
        border: 2px solid black;
    }
    th, td {
        text-align: center;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>From the farm to your refrigerator, or the factory to your wardrobe, A.P. Moller - Maersk is developing solutions that meet customer needs from one end of the supply chain to the other.</p>
<p></p>

<div>
    <p>The Key Solutions : </p>
    <table style="width:auto;">
        <tr>
            <th>Solution</th>
            <th>Description</th>
            <th>Services</th>
        </tr>
        <tr>
            <td>Shipping and Cargo Services</td>
            <td>Regardless of your industry, your commodity, or your key markets, Maersk has solutions that offer both small and large businesses the opportunity to grow. We serve our customers with frequent departures on all major trade lanes and inland services for a true end-to-end experience.</td>
            <td>Ocean Transport, Inland Services, Cargo and Financial Services</td>
        </tr>
        <tr>
            <td>Supply Chain Services</td>
            <td>We focus on solving your supply chain needs from end to end, taking the complexity out of container shipping. We are at the forefront of developing innovative supply chain solutions, fusing our global network and depth of expertise with pioneering digital innovations to enable our customers to stay ahead.
            </td>
            <td>
                Supply Chain Management, Warehousing and Distribution, 4PL Logistics Solutions, Cold Chain Logistics, Supply Chain Development, E-Commerce Logistics
            </td>
        </tr>
        <tr>
            <td>Freight Forwarding</td>
            <td>Our freight forwarding business is handled by Damco which is part of A.P. Moller - Maersk. From specialized ocean shipments to airfreight and inland transportation, our advanced solutions and extensive hub network ensure complete control, fast transit times and seamless connections to the final destination.</td>
            <td>Damco - Ocean Freight, Air Freight, Addtional Services</td>
        </tr>
        <tr>
            <td>Digital Solutions</td>
            <td>We all buy goods, track deliveries and pay online. Shipping with Maersk is no different. Our tailored online services take the complexity out of shipping by letting you instantly book, manage and track shipments and much more.</td>
            <td>Web Solutions, Mobile Solutions, EDI Solutions, MyFinance, Maersk Spot, Remote Container Management</td>
        </tr>
    </table>
</div>

